@import url("./reset.css");

@import url("../font/inter/font.css");
@import url("../font/bricolage-grotesque/font.css");

:root {
  font-size: 18px;
  font-family: "Inter";

  --hero-font: "Bricolage Grotesque";

  --accent: #5555ff;

  --background: #f9fafb;
  --border-color: #cccccc;
}

body {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #ccccff, #fff);
}

.content {
  margin: 48px 0;
  filter: drop-shadow(0 0 12px #00000048);
  width: 1024px;
  max-width: 100%;
  border: solid 1px var(--border-color);
  height: fit-content;
}

hr {
  border: none;
  border: solid 1px var(--border-color);
  border-bottom: none;
}

p {
  font-size: 1.12rem;
}

h1 {
  font-size: 3rem;
}

.section {
  padding: 12px;
  background-color: var(--background);
}

.linkbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.24rem;
  font-weight: 500;
}

.align_left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.align_left .link {
  padding: 0 6px;
  border-bottom: solid 2px #000;
  border-top: solid 2px transparent;
}

.minecraft {
  background-image: url("../img/mc-tradinghall-1.png");
  background-position: center;
  background-size: cover;
  height: fit-content;
}

.minecraft_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  color: #fff;
}

.minecraft_content h1 {
  font-family: var(--hero-font);
}

.button {
  background-color: var(--accent);
  width: fit-content;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 800;
}

.depth_border {
  border-top: solid 4px #ffffff24;
  border-right: solid 4px #00000024;
  border-bottom: solid 4px #00000024;
  border-left: solid 4px #ffffff24;
}

.button_secondary {
  background-color: #dedede;
  color: #000;
}

.horizontal_3 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.horizontal_3 div {
  width: 100%;
  padding: 24px;
  aspect-ratio: 8/3;
}

h3 a {
  color: var(--accent);
  text-decoration: underline;
}

.logo {
  width: 32px;
  image-rendering: pixelated;
  margin: 0 12px 0 0;
}

.small_logo {
  width: 24px;
  image-rendering: pixelated;
  margin: 0 12px 0 0;
}

.align_right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.spacer {
  height: 32px;
}

.flex {
  display: flex;
  gap: 24px;
}

.divider {
  width: 1px;
  height: 128px;
  background-color: var(--border-color);
}

.footer {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background);
  height: 128px;
}

@media (orientation: portrait) {
  .content {
    margin: 0;
  }

  .minecraft_content h1 {
    font-size: 2.4rem;
    line-height: 1;
    margin: 0 0 12px 0;
    text-align: center;
  }

  .minecraft_content p {
    font-size: 1.24rem;
    text-align: center;
  }

  .button {
    width: 100%;
    font-size: 1.24rem;
    text-align: center;
  }

  .flex {
    flex-direction: column;
  }
}