@import url("./normalize.css");

@import url("../font/inter/font.css");

:root {
  --black: #000000;
  --white: #ffffff;

  --offwhite: #efefef;

  --red: #ff5555;
  --blue: #5555ff;
  --accent-main: var(--red);

  --copyright-text: "Copyright 2026 Ocvac";

  --content-width: 640px;
}

body {
  font-size: 1rem;
  background-color: var(--black);
  overscroll-behavior: none;
}

a {
  color: var(--blue);
}

/* BANNER */

.banner {
  width: 100%;
  background-color: var(--accent-main);
  display: flex;
  justify-content: center;
  z-index: 100;
  /* position: sticky;
  top: -128px; */
  padding: 12px;
  line-height: 1;
  background-color: #fff;
  border-bottom: solid 2px var(--offwhite);
}

.banner__content {
  width: 100%;
}

.banner h1,
.banner a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.6rem;
  text-align: left;
  color: var(--black);
  text-decoration: none;
  letter-spacing: -3px;
}

img {
  opacity: 0.8;
  border-radius: 128px;
}

/* BANNER */

/* CONTENT */

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: calc(var(--content-width) / 8) 0 0 0;
  background: linear-gradient(to top, #ccccff, #ffffff);
}

.content {
  width: var(--content-width);
  background-color: transparent;
  /* filter: drop-shadow(0 0 2px #00000024); */
  /* border: solid 2px #efefef; */
  border-bottom: none;
  padding: 24px;
  border-radius: 24px 24px 0 0;
  font-family: "Inter";
}

.back::after {
  content: "Back";
}

iframe {
  width: 100%;
  aspect-ratio: 16/10;
}

code {
  background-color: #efefef;
}

hr {
  margin: 32px 0 16px 0;
  border: none;
  border: solid 1px #efefef00;
  box-shadow: none;
}

/* CONTENT */

/* FOOTER */

.footer {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-header);
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright::after {
  content: var(--copyright-text);
}

/* FOOTER */
