@font-face {
  font-family: "Minecraft Seven";
  src: url("./Minecraft-Seven_v2.ttf");
}

@font-face {
  font-family: "Minecraft Ten";
  src: url("./Minecraft-Tenv2.ttf");
}

@font-face {
  font-family: "Monocraft";
  src: url("./minecraft-mono.otf");
}
