@import url("../normalize.css");
@import url("./colors.css");

@import url("../../font/minecraft/font.css");

:root {
  --font-header: "Minecraft Ten";
  --font-main: "Minecraft Seven";
  --font-mono: "Monocraft";
}
body {
  font-family: var(--font-main);
}

h1 {
  font-family: var(--font-header);
  font-weight: 400;
}

h2 {
  font-family: var(--font-header);
  font-weight: 400;
}

code {
  font-family: var(--font-mono);
  font-size: 0.8rem;
}
