@import url("./colors.css");
@import url("../ocvac.css");

@import url("../../font/minecraft/font.css");

:root {
  --mc-font_head: "Minecraft Ten"; /* https://minecraft.net */
  --mc-font_main: "Minecraft Seven"; /* https://minecraft.net */
  --mc-font_mono: "Monocraft"; /* https://github.com/IdreesInc/Monocraft */
}

mcss {
  width: 100%;
}

mcss p {
  font-family: var(--mc-font_main);
  font-weight: 400;
}

mcss h1 {
  font-family: var(--mc-font_head);
  font-weight: 400;
  margin: 0;
  padding: 6px 0 6px 12px;
}

mcss h2 {
  font-family: var(--mc-font_head);
  font-weight: 400;
}

mcss code {
  font-family: var(--font-mono);
  font-size: 0.8rem;
}
